# flask.cfg

import os

# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'b'L\x88\xd3\xab\x06$\x13\xb80\r"\xcaOA\x8b\xa6iM\x97;\xd9\x03&F''
DEBUG = True
