<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gameboy Club Web Application">
    <meta name="author" content="David Vasquez">
    <title>Welcome to Gameboy Club!</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
 
<h1>Welcome to the Gameboy Club!</h1>
 
This site will contain information about the Nintendo Gameboy handheld system! 
 
<h2>Systems</h2>

<h2>Cartridges</h2>

<h2>Accessories</h2>

<h2>Books</h2>
 
  </body>
</html>